.outlined-text {
 /* Make the text transparent */
    -webkit-text-stroke-width: 0.75px; /* Set the outline width */
    -webkit-text-stroke-color: white; /* Set the outline color */
  }
  
  /* Custom CSS to hide scrollbar */
.scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  
  .bg-custom-color {
    background-color: rgba(85, 22, 21);;
  }
  
  .selected-seat {
    border: 3px solid green; /* You can adjust the styling as needed */
    box-shadow: 0 0 5px green;
    border-radius: 5px;
  }

  #blend{
    mix-blend-mode: color-burn;
  }
  